<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a class="logo" routerLink="/" *ngIf="!(_authS.user | async)">
      <mat-icon aria-label="Insta" class="icon">landscape</mat-icon>
      <span>Insta</span>
    </a>
    <a class="logo" routerLink="/dashboard" *ngIf="(_authS.user | async)">
      <mat-icon aria-label="Insta" class="icon">landscape</mat-icon>
      <span>Insta</span>
    </a>
    <span class="spacer"></span>
    <nav *ngIf="(_authS.user | async)">
      <a mat-icon-button routerLink="/post/new">
        <mat-icon aria-label="add" class="icon">add</mat-icon>
      </a>
      <a mat-button routerLink="/dashboard" class="btn-feed">Feed</a>
      <a mat-icon-button routerLink="../profile/{{(_authS.user | async)?.uid}}">
        <mat-icon aria-label="Profile">account_circle</mat-icon>
      </a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
