<mat-card class="auth-form">
  <mat-card-content>
    <div class="sign-up-form">
      <div class="form-header">
        <h1>Sign Up</h1>
        <span class="fill-space"></span>
        <div class="form-header-footer"><span>Have an account?</span>&nbsp;<a routerLink="/login">Log in</a></div>
      </div>
      <form [formGroup]="userForm" (ngSubmit)="signUp()">
        <mat-form-field class="full-width">
          <input matInput formControlName="name" type="text" placeholder="Name" required>
          <mat-icon matSuffix>person</mat-icon>
          <mat-hint class="is-danger" *ngIf="formErrors.name">{{ formErrors.name }}</mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput formControlName="email" type="email" placeholder="Email" required>
          <mat-icon matSuffix>email</mat-icon>
          <mat-hint class="is-danger" *ngIf="formErrors.email">{{ formErrors.email }}</mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput formControlName="password" type="password" placeholder="Password" required>
          <mat-icon matSuffix>vpn_key</mat-icon>
          <mat-hint class="is-danger" *ngIf="formErrors.password">{{ formErrors.password }}</mat-hint>
        </mat-form-field>
          <button mat-raised-button [disabled]="!userForm.valid" class="btnSbm" type="submit" name="button" color="primary">Sign up</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
