.auth-form {
    max-width: 400px;
    margin: 0 auto;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}

.sign-up-form > * {
  width: 100%;
}

.full-width {
  width: 100%;
}
.btnSbm {
  margin-top: 15px;
}

.is-danger {
  color: red;
}
