.post {
  display: flex;
  position: relative;
  height: 100%;
  .post-image {
    position: relative;
  }
  .action-like {
    font-size: 32px;
    color: #fff;
    bottom: 15px;
    right: 15px;
    position: absolute;
    cursor: pointer;
    &:hover, &.liked {
      color: red;
    }
  }
  .post-meta {
    padding: 20px;
    margin-bottom: 20px;
    width: 40%;
    .btn-delete-post {
      position: absolute;
      right: 20px;
      color: #ddd;
    }
    .author {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .photo {
        width: 32px;
        height: 32px;
        margin-right: 10px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 32px;
          object-fit: cover;
        }
      }
      a {
        outline: 0;
        color: #000;
      }
    }
    .description, .likes {
        font-size: 14px;
    }
    .likes {
        font-weight: bold;
        margin-bottom: 5px;
    }
  }
}
.post-image {
  background-size: cover;
  background-position: center;
  width: 60%;
  height: 70vh;
}
