.post {
  display: flex;
  position: relative;
  height: 100%;
  .post-meta {
    padding: 20px;
    margin-bottom: 20px;
    width: 40%;
    .author {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      img {
        width: 32px;
        height: 32px;
        border-radius: 32px;
        object-fit: cover;
        margin-right: 10px;
      }
      a {
        outline: 0;
      }
    }
    .description {
        font-size: 14px;
    }
  }
}
.post-image {
  background-size: cover;
  background-position: center;
  width: 60%;
  height: 70vh;
}
