<div class="profile">
<mat-progress-bar mode="determinate" value="{{uploadProgress}}" *ngIf="uploadProgress" class="progress-bar"></mat-progress-bar>
<mat-card class="card card-o">
  <div class="card-header">
    <div class="header-profile">
      <div mat-card-avatar (click)="fileUpload.click()" class="header-image" [ngStyle]="{'background-image': 'url('+ user.photoURL +')'}" *ngIf="user"></div>
      <mat-card-title *ngIf="!editable">{{ user?.displayName }}</mat-card-title>
      <input type="text" [(ngModel)]="user.displayName" *ngIf="editable" class="input">
      <input type="file" #fileUpload (change)="detectFile($event)" class="hidden-from-screen">
    </div>
    <span class="spacer"></span>
    <div class="change-name" *ngIf="!editable">
      <a mat-mini-fab color="primary" (click)="toggleName()"><mat-icon aria-label="Profile">edit</mat-icon></a>
    </div>
    <div class="input-name" *ngIf="editable">
      <a mat-mini-fab color="primary" (click)="saveName()"><mat-icon aria-label="Profile">done</mat-icon></a>
    </div>
  </div>
</mat-card>
<mat-card class="card card-photos">
  <mat-card-content>
    <mat-grid-list cols="3" rowHeight="100px" class="grid-list">
      <mat-grid-tile *ngFor="let tile of tiles" rowspan="1" colspan="1" class="tile">
        <img src="{{tile.url}}" alt="">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
<a mat-button class="btn-logout" (click)="logout()" *ngIf="(_authS.user | async)">Log out</a>

</div>
