/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #fafafa;
}

button:focus {outline:0;}

.hidden-from-screen {
  display: none
}

.app:not(.loggedin) {
  background-image: url('./assets/bg.jpg');
  color: #fff;
}
a {
  color: blue;
  cursor: pointer;
  text-decoration: none;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 20px;
}

.spacer {
  flex: 1 1 auto;
}

.auth-form {
    max-width: 400px;
    margin: 0 auto;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}

.sign-up-form > * {
  width: 100%;
}

.full-width {
  width: 100%;
}
.btnSbm {
  margin-top: 15px;
}

.is-danger {
  color: red;
}
.form-actions,
.form-header {
  display: flex;
}
.fill-space {
  flex: 1 1 auto;
}

.form-header-footer {
    display: flex;
    align-items: center;
}
.grid-list {
  width: 100%;
  min-width: 600px;
  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    padding: 10px;
  }
}

.post-dialog {
  margin: 0 auto !important;
}
.post-dialog .mat-dialog-container {
  padding: 0;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}
